Repository flexcompute-readthedocs/tidy3d-docs, pull requests merged in 2023-10, with the labels that each got.

#299 Inclusion of Symmetry tutorial.
  docs/source/examples.rst
  docs/source/notebooks/FocusedApodGC.ipynb
  docs/source/notebooks/Symmetry.ipynb
  docs/source/notebooks/img/pec_pmc.png
  docs/source/notebooks/metadata/metadata.txt
Labels: new notebook

#307 Inclusion of cavity figure-of-merit tutorial.
  docs/source/examples.rst
  docs/source/material_library.rst
  docs/source/notebooks/CavityFOM.ipynb
  docs/source/notebooks/DivergedFDTDSimulation.ipynb
  docs/source/notebooks/ResonanceFinder.ipynb
  docs/source/notebooks/metadata/metadata.txt
Labels: new notebook

#309 add `signac` tutorial to ParameterScan notebook
  docs/source/notebooks/ParameterScan.ipynb
Labels: 2.4

#305 Thermo-optic phase-shift in a ring resonator
  docs/source/examples.rst
  docs/source/notebooks/HeatSolver.ipynb
  docs/source/notebooks/MetalHeaterPhaseShifter.ipynb
  docs/source/notebooks/ThermallyTunedRingResonator.ipynb
  docs/source/notebooks/metadata/metadata.txt
Labels: 2.5
